# 1. Handle Homebrew based on OS
{{ if eq .chezmoi.os "darwin" -}}
# macOS (Apple Silicon) path
if test -d /opt/homebrew/bin
    # This ensures the binaries are found immediately by Fish
    fish_add_path /opt/homebrew/bin
    fish_add_path /usr/local/bin
    /opt/homebrew/bin/brew shellenv | source
end
{{ else if eq .chezmoi.os "linux" -}}
# Linux (Arch) path
if test -d /home/linuxbrew/.linuxbrew/bin
    fish_add_path /home/linuxbrew/.linuxbrew/bin
    /home/linuxbrew/.linuxbrew/bin/brew shellenv | source
end
{{ end -}}

# 2. Initialize Conda
# Activate conda if it exists
if test -d ~/miniconda3
    source ~/miniconda3/etc/fish/conf.d/conda.fish
else if test -d ~/anaconda3
    source ~/anaconda3/etc/fish/conf.d/conda.fish
end

# 3. Initialize Oh My Posh
if type -q oh-my-posh
    # Point to the local file created by chezmoi
    oh-my-posh init fish --config ~/.config/oh-my-posh/theme.json | source
end